.liste > ul {
    margin: 20px 0;
    padding-left: 40px;
    font-size: 16px;
    line-height: 1.6;
    list-style-type: disc;
    width: 10%;
}

ul li {
    margin-bottom: 10px;
}
.liste{
    width: 40%;
}
.liste > ol{
    
}
ol{
    list-style-type: upper-roman;
}